/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html[data-theme='dark'] {
  --hue: 210; /* Blue */
  --accent-hue: 25; /* Orange */

  --text-color-normal: hsl(var(--hue), 10%, 62%);
  --text-color-light: hsl(var(--hue), 15%, 35%);
  --text-color-richer: hsl(var(--hue), 50%, 72%);
  --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);

  --link-color: hsl(var(--hue), 90%, 70%);
  --accent-color: hsl(var(--accent-hue), 100%, 70%);
  --error-color: rgb(240, 50, 50);

  --button-background: hsl(var(--hue), 63%, 43%);
  --button-text-color: black;

  --background: hsl(var(--hue), 20%, 12%);
}
all{
  box-sizing: content-box;
  padding: 0px 0px;
  
}

header{
  background-color: #D3D3D3;
  font-family: "Open Sans", sans-serif;

}
body {
  background-color: #373737;
  font-family: "Open Sans", sans-serif;
  padding: 0px 0px;
  font-size: 18px;
  margin: 0;
  color:white;
}
footer{
  float: bottom;
}
section#leftpanel{
  display: inline-block;
  width: 30%;
  height: 100%;
  float: left;
  background-color:#202020;
}
img {
  border-radius: 50%;
  width : 50%;
  height:50%;
}
section#centerpanel{
  display: inline-block;
  width: 70%;
  height: 100%;
  float: center;
  background-color:	#867979;
  
}
section#newMessage{
  display: inline-block;
  width: 95%;
  
  background-color:darkslategrey;
  padding-right: inherit;
}
section#mainWall{
  display: inline-block;
  width: 95%;
  
  background-color:	#A0A0A0;
  padding-right: inherit;
}

h1{
  background-color:dimgrey;
  font-family: "Merriweather", serif;
  font-size: 32px;
  
}
ul#navmenu li{
  display:inline;
  list-style-type: none;
  font-family: "Merriweather",sans-serif; 
  
}

.logout {
	border-width: 10px;
}