<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<display-name>Janken</display-name>
	
	<!-- Servlets authentification --> 
	<servlet> 
		<servlet-name>CreateUser</servlet-name> 
		<servlet-class>servlets.authentification.CreateUserServlet</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>Login</servlet-name> 
		<servlet-class>servlets.authentification.LoginServlet</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>Logout</servlet-name> 
		<servlet-class>servlets.authentification.LogoutServlet</servlet-class> 
	</servlet> 
	
	<!-- Servlets amis --> 
	<servlet> 
		<servlet-name>AddFriend</servlet-name> 
		<servlet-class>servlets.amis.AddFriendServlet</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>RemoveFriend</servlet-name> 
		<servlet-class>servlets.amis.RemoveFriendServlet</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>ListFriend</servlet-name> 
		<servlet-class>servlets.amis.ListFriendServlet</servlet-class> 
	</servlet> 
	 
	 <!-- Servlets commentaires --> 
	<servlet> 
		<servlet-name>AddComment</servlet-name> 
		<servlet-class>servlets.commentaires.AddCommentServlet</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>Timeline</servlet-name> 
		<servlet-class>servlets.commentaires.TimelineServlet</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>ListMessageFriend</servlet-name> 
		<servlet-class>servlets.commentaires.ListMessageFriendServlet</servlet-class> 
	</servlet> 	
	
	<!-- Servlets recherche --> 
	<servlet> 
		<servlet-name>Search</servlet-name> 
		<servlet-class>servlets.recherche.SearchServlet</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>ListPeople</servlet-name> 
		<servlet-class>servlets.recherhce.ListPeopleServlet</servlet-class> 
	</servlet> 
	
	<!-- Servlet mapping authentification--> 
	<servlet-mapping> 
		<servlet-name>CreateUser</servlet-name> 
		<url-pattern>/CreateUser</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>Login</servlet-name> 
		<url-pattern>/Login</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>Logout</servlet-name> 
		<url-pattern>/Logout</url-pattern> 
	</servlet-mapping> 
	
	<!-- Servlet mapping amis--> 
	<servlet-mapping> 
		<servlet-name>AddFriend</servlet-name> 
		<url-pattern>/AddFriend</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>RemoveFriend</servlet-name> 
		<url-pattern>/RemoveFriend</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>ListFriend</servlet-name> 
		<url-pattern>/ListFriend</url-pattern> 
	</servlet-mapping> 
	
	<!-- Servlet mapping commentaires--> 
	<servlet-mapping> 
		<servlet-name>AddComment</servlet-name> 
		<url-pattern>/AddComment</url-pattern> 
	</servlet-mapping>
	
	<servlet-mapping> 
		<servlet-name>Timeline</servlet-name> 
		<url-pattern>/Timeline</url-pattern> 
	</servlet-mapping>
	
	<servlet-mapping> 
		<servlet-name>ListMessageFriend</servlet-name> 
		<url-pattern>/ListMessageFriend</url-pattern> 
	</servlet-mapping>
	
	<!-- Servlet mapping commentaires--> 
	
	<servlet-mapping> 
		<servlet-name>Search</servlet-name> 
		<url-pattern>/Search</url-pattern> 
	</servlet-mapping>
	
	<servlet-mapping> 
		<servlet-name>ListPeople</servlet-name> 
		<url-pattern>/ListPeople</url-pattern> 
	</servlet-mapping>
	
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
