<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<display-name>Projets_Janken</display-name>
	
	<!-- Servlets authentification --> 
	<servlet> 
		<servlet-name>CreateUser</servlet-name> 
		<servlet-class>servlets.authentification.CreateUserServlet</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>Login</servlet-name> 
		<servlet-class>servlets.authentification.LoginServlet</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>Logout</servlet-name> 
		<servlet-class>servlets.authentification.LogoutServlet</servlet-class> 
	</servlet> 
	
	<!-- Servlets amis --> 
	<servlet> 
		<servlet-name>AddFriend</servlet-name> 
		<servlet-class>servlets.amis.AddFriendServlet</servlet-class> 
	</servlet> 
	 
	 
	 
	<!-- Servlet mapping authentification--> 
	<servlet-mapping> 
		<servlet-name>CreateUser</servlet-name> 
		<url-pattern>/servlets/authentification/CreateUserServlet</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>Login</servlet-name> 
		<url-pattern>/servlets/authentification/LoginServlet</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>Logout</servlet-name> 
		<url-pattern>/servlets/authentification/LogoutServlet</url-pattern> 
	</servlet-mapping> 
	
	<!-- Servlet mapping amis--> 
	<servlet-mapping> 
		<servlet-name>AddFriend</servlet-name> 
		<url-pattern>/servlets/amis/AddFriendServlet</url-pattern> 
	</servlet-mapping> 

</web-app>